header {
  height: 3rem;
  background-color: bisque;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  padding-top: 0.75rem; }
  header div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0; }
  header div span {
    font-size: 80%; }
  header h1 {
    font-size: 110%;
    margin: 0;
    padding: 0; }

nav {
  display: none; }

h2 {
  font-size: 110%;
  padding-top: 0; }

form {
  font-size: 90%;
  padding-left: 7.5vw; }
  form select {
    width: 4rem; }
  form label {
    display: inline-block;
    width: 6rem; }
  form button {
    font-size: 95%;
    margin-top: 0.5em; }
  form input, form textarea {
    width: 40vw;
    margin-left: 0.1em;
    margin-right: 0.1em;
    display: inline-block;
    text-align: left;
    border: 0.5px solid gray; }

#main_form {
  text-align: center;
  padding-left: unset; }

#signin_form {
  font-size: 80%;
  padding: 0; }
  #signin_form label {
    display: inline; }
  #signin_form #username {
    width: 12vw; }
  #signin_form #password {
    width: 12vw; }

#comment_form .ratings {
  display: inline-block; }
  #comment_form .ratings input, #comment_form .ratings label {
    width: 0.6em; }
#comment_form .ratings > label:nth-child(1) {
  width: 6.5em; }

#status {
  text-align: center;
  padding: 0.15em; }

#details {
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  margin-bottom: 1em;
  width: 100%; }
  #details .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1em; }
  #details .ratings {
    font-size: 90%;
    font-style: italic; }
  #details .isbn {
    font-size: 85%;
    padding: 0.5em 0 0.5em 0; }
  #details .comment_div {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: gray 0.5px solid; }
  #details .comment_head {
    display: flex;
    justify-content: space-between; }
  #details .comment_title {
    font-size: 115%; }
  #details .comment_writer {
    font-size: 85%;
    font-style: italic; }
  #details .comment_date {
    font-size: 90%; }

.comment_divider {
  padding-top: 1em;
  border-top: gray 0.25px solid;
  width: 95%;
  margin: 0 auto; }

#results {
  margin: 0.5em 0 0.5em 0em;
  padding-left: 0.65rem;
  padding-right: 0.65rem; }
  #results .queryoutput {
    column-count: 1;
    font-size: 100%;
    margin-left: 5vw;
    margin-right: 5vw; }
  #results .search_heading {
    text-align: center;
    margin: 0.75em; }

.entry span + span {
  font-style: italic;
  font-size: 80%;
  color: gray; }

ul {
  text-align: center;
  margin-top: 1em;
  list-style-type: none; }
  ul li span {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 110%;
    text-align: left; }
  ul li span:nth-child(even) {
    font-size: 85%; }

p {
  margin: 0;
  padding: 0; }

@media (min-width: 860px) {
  header {
    padding-left: 2rem;
    padding-right: 2rem; }
    header h1 {
      font-size: 125%; }

  h2 {
    font-size: 115%;
    padding-top: 0; }

  #banner_image {
    max-width: 1900px;
    height: 10em;
    background: #ffffff url(bookshelf-1024w.jpg) no-repeat top right;
    margin-bottom: 1.0rem; }

  #details {
    padding-top: 1em;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex; }
    #details .summary {
      flex-basis: 30%;
      padding-right: 2em; }
    #details .reviews {
      flex-basis: 70%; }

  .comment_divider {
    display: none; }

  #results .queryoutput {
    font-size: 97.5%;
    column-count: 2; } }
@media (min-width: 1024px) {
  header {
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
    header h1 {
      font-size: 140%; }

  h2 {
    font-size: 125%;
    padding-top: 0; }

  #banner_image {
    max-width: 1900px;
    height: 10em;
    background: #ffffff url(bookshelf-1900w.jpg) no-repeat top right;
    margin-bottom: 1.0rem; }

  #details {
    padding-top: 1em;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex; }
    #details .summary {
      flex-basis: 33%;
      padding-right: 2em; }
    #details .reviews {
      flex-basis: 65%; }

  .comment_divider {
    display: none; }

  #results .queryoutput {
    font-size: 95%;
    column-count: 3; } }

/*# sourceMappingURL=main.css.map */
