{% extends "boilerplate.html" %}

{% block user_logged_in %}

    {% include "_navigation.html" %}

{% endblock %}

{% block status %} 

    {% if submitted %}

        User has already submitted comment for this book.

    {% endif %}

    {% if incomplete %}

        Please ensure all fields are checked or filled in.

    {% endif %}

{% endblock %}

{% block details %}

<div>

    <div class='summary'>
        <h2> {{ record.title }} </h2>
        <p> Year Published: {{ record.pubdate }} </p>
        <p>
            Author(s):
            {% for auth in authors[record.id] %}
                {% if not loop.last %}
                    <span> {{ auth['fullname'] }}, </span>
                {% else %}
                    <span> {{ auth['fullname'] }}  </span>
                {% endif %}
            {% endfor %}
        </p>        
        <p> ISBN: {{ record.isbn }} </p>
    </div>

</div>

<div class='comment_divider'></div>

<div>

    <form id="comment_form" action="/comment" method="POST">
        <div>
            <label> Subject </label>
            <input type="text" name="title">
        </div>
        <div>
            <label> Review </label>
            <textarea name="comment" row="12"></textarea>
        </div>
        <div class='ratings'>
            <label> Rate (5 best)</label>
            <input type="radio" name="rating" id="1" value="1"/>
            <label for="1">1</label>
            
            <input type="radio" name="rating" id="2" value="2"/>
            <label for="2">2</label>
            
            <input type="radio" name="rating" id="3" value="3"/>
            <label for="3">3</label>

            <input type="radio" name="rating" id="4" value="4"/>
            <label for="4">4</label>

            <input type="radio" name="rating" id="5" value="5"/>
            <label for="5">5</label>
        </div>
        <div>
            <button> Submit </button>
        </div>
    </form>

</div>

{% endblock %}