{% extends "boilerplate.html" %}

{% block user_logged_in %}

    {% include "_navigation.html" %}

{% endblock %}

{% block search %}

    <form id='main_form' action="{{ url_for('index') }}" method="post">
        <select name='bookattribute'>
            <option value='books_via_title'>title</option>
            <option value='books_via_author'>author</option>
            <option value='books_via_isbn'>isbn</option>
        </select>
        <input type='text' name='searchtext' placeholder="Search here">
        <button>Enter</button>
    </form>

{% endblock %}

{% block details %}

    <div class='summary'>
        <h2> {{ book.title }} </h2>
        <p>
            Author(s):
            {% for auth in authors %}
                {% if not loop.last %}
                    <span> {{ auth['fullname'] }}, </span>
                {% else %}
                    <span> {{ auth['fullname'] }}  </span>
                {% endif %}
            {% endfor %}
        </p>
        <p> Year Published: {{ book.pubdate }} </p>
        <p class='isbn'> ISBN: {{ book.isbn }} </p>
        {% if review_info %}
            <p class='ratings'> 
                Goodreads rating: {{ review_info.average_rating }} from {{ review_info.work_ratings_count }} ratings 
            </p>
        {% else %}
            <p class='ratings'> 
                Goodreads rating: Not available
            </p>
        {% endif %}
    </div>

    <div style='padding-top: 0.5em;'></div>

    <div class='reviews'>

        <div class='comment_head'>
            <h2> Reviews </h2>
            <p> <a href="/comment"> Add comment </a> </p>
        </div>

        <div>

            {% if comments %}

                {% for comment in comments %}

                <div class='comment_div'>
                    <div class='comment_head'>
                        <div class='comment_title'> {{ comment.title }} </div>
                        <div class='comment_writer'> 
                            {{ comment.email }} - rating {{ comment.rating }} / 5
                        </div>
                    </div>
                    <div> {{ comment.content }} </div>
                    <div class='comment_date'> {{ comment.submit_date }} </div>
                </div>
                
                {% endfor %}

            {% else %}

                <div> <p> There are no reviews for this book yet. </p> </div>

            {% endif %}
            
        </div>

    </div>

{% endblock %}