{% extends "boilerplate.html" %}

{% block user_logged_in %}

    {% include "_navigation.html" %}

{% endblock %}

{% block status %}

    {% if login_success %}

    Login successful - welcome !

    {% endif %}

{% endblock %}

{% block search %}

    <form id='main_form' action="{{ url_for('index') }}" method="post">
        <select name='bookattribute'>
            <option value='books_via_title'>title</option>
            <option value='books_via_author'>author</option>
            <option value='books_via_isbn'>isbn</option>
        </select>
        <input type='text' name='searchtext' placeholder="Search here">
        <button>Enter</button>
    </form>

{% endblock %}

