
{% if session.user_logged_in %}

    {{ session.username }} |
    <a href='/'>Home</a> |
    <a href='/logout'>Logout</a>

{% else %}

<form id='signin_form' action='/login' method='post'>
    <select name='operation'>
        <option value='signin' selected>sign in</option>
        <option value='register'>register</option>
    </select>
    <label for='username'>
        <input type='text' id='username' name='username' placeholder='Email'>
    </label>
    <label for='password'>
        <input type='password' id='password' name='password' placeholder='Password'>
    </label>
    <button> Submit </button>

{% endif %}
