{% extends "boilerplate.html" %}

{% block user_logged_in %}

    {% include "_navigation.html" %}

{% endblock %}

{% block search %}

    <form id='main_form' action="{{ url_for('index') }}" method="post">
        <select name='bookattribute'>
            <option value='books_via_title'>title</option>
            <option value='books_via_author'>author</option>
            <option value='books_via_isbn'>isbn</option>
        </select>
        <input type='text' name='searchtext' placeholder="Search here">
        <button>Enter</button>
    </form>

{% endblock %}

{% block status %} 

    {% if not books %}

        Search result for '{{ query_meta.searchtext }}' is empty.

    {% endif %}

{% endblock %}

{% block results %}

    {% if query_meta.books_via_title and books %}
    <h2 class='search_heading'>
        Search results for '{{ query_meta.searchtext }}'.
    </h2> 
    <div class='queryoutput'>
        {% for row in books %}
        <div class='entry'>
            <span><a href='{{ query_meta.details }}?isbn={{ row.isbn }}'> {{ row.title }} </a></span> -
            {% for auth in authors[row.id] %}
                {% if not loop.last %}
                    <span> {{ auth['fullname'] }}, </span>
                {% else %}
                    <span> {{ auth['fullname'] }}  </span>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if query_meta.books_via_isbn and books %}
    <h2 class='search_heading'>
        Search results for '{{ query_meta.searchtext }}'
    </h2>
    <div class='queryoutput'>
        {% for row in books %}
        <div class='entry'>
            <span>{{ row.isbn }} </span> -
            <span><a href='{{ query_meta.details }}?isbn={{ row.isbn }}'> {{ row.title }} </a></span>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if query_meta.books_via_author and books %}
    <h2 class='search_heading'>
        Search results for '{{ query_meta.searchtext }}'
    </h2>
    <div class='queryoutput'>
        {% for row in books %}
        <div class='entry'>
            <span><a href='{{ query_meta.details }}?isbn={{ row.isbn }}'> {{ row.fullname }} </a></span>
            <span> - {{ row.title }} </span>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
{% endblock %}
