<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title> my Books </title>
</head>
<body>
<header>
    <div>
        <h1> my Books </h1>
        <span> {% block user_logged_in %} {% endblock %} </span>
    </div>
</header>
<div id='banner_image'></div>
<nav></nav>
<section id='main_form'>
    <div id='search'>  {% block search  %} {% endblock %} </div>
    <div id='status'>  {% block status  %} {% endblock %} </div>            
</section>
<section id='results'> {% block results %} {% endblock %} </section>
<section id='details'> {% block details %} {% endblock %} </section>
<footer></footer>
</body>
</html>
